blinker==1.9.0
click==8.3.0
colorama==0.4.6
Flask==3.1.2 # <--- this one
Flask-Mail==0.10.0 #<--- new one
Flask-SQLAlchemy==3.1.1 # <--- this one
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==3.1.3
google-genai==0.3.0
python-dotenv==1.0.0
openai==1.30.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.3
gunicorn==21.2.0  # ADD THIS FOR RENDER
psycopg2==2.9.9  # ADD THIS FOR POSTGRESQL

# download Flask, and Flask -SQLAlchemy
# run these in command prompt in the terminal:
# python -m venv env
# env\Scripts\activate
# pip install Flask
# pip install Flask-SQLAlchemy
# pip install Flask-Mail <---------------------------------- THIS IS A NEW ONE PLEASE INSTALL THANKS
# pip install google-genai 
# python-dotenv
# pip install fuzzywuzzy 
# pip install python-Levenshtein
# pip install openai
# pip list
# ↑ to check if they are the same as the list above