body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    overflow: hidden;
}   


#map {
    height: 100%;
    width: 100%;
}

#centerBtn {
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1000; /* make sure it's above the map */
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar.active {
    transform: translateX(0);
}

#map-container {
    flex: 1;
    position: relative;
    transition: transform 0.3s ease;
}

#map-container.sidebar.active{
    transition: transform 0.3s ease;
}

#toggleBtn {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1100;
    background: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#chatbot-icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #007bff;
    color: white;
    font-size: 22px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition: background-color 0.2s;
    z-index: 1100;
}

#chatbot-icon:hover {
    background-color: #0056b3;
}